{% extends "base.html" %}
{% block content %}

<h2>Editar Cita</h2>

<form method="POST" class="card p-4 shadow">
    {% csrf_token %}

    <label>Paciente</label>
    <select name="paciente" class="form-select mb-3">
        {% for p in pacientes %}
            <option value="{{ p.id }}" {% if c.paciente.id == p.id %}selected{% endif %}>{{ p.nombre }}</option>
        {% endfor %}
    </select>

    <label>Prestación</label>
    <select name="prestacion" class="form-select mb-3">
        {% for pr in prestaciones %}
            <option value="{{ pr.id }}" {% if c.prestacion.id == pr.id %}selected{% endif %}>{{ pr.nombre }}</option>
        {% endfor %}
    </select>

    <label>Profesional</label>
    <select name="profesional" class="form-select mb-3">
        {% for prof in profesionales %}
            <option value="{{ prof.id }}" {% if c.profesional.id == prof.id %}selected{% endif %}>{{ prof.nombre }}</option>
        {% endfor %}
    </select>

    <label>Box</label>
    <select name="box" class="form-select mb-3">
        {% for b in boxes %}
            <option value="{{ b.id }}" {% if c.box.id == b.id %}selected{% endif %}>{{ b.numero }}</option>
        {% endfor %}
    </select>

    <label>Fecha</label>
    <input type="date" name="fecha" class="form-control mb-3" value="{{ c.fecha }}">

    <label>Hora</label>
    <input type="time" name="hora" class="form-control mb-3" value="{{ c.hora }}">

    <label>Estado</label>
    <select name="estado" class="form-select mb-3">
        <option>Agendada</option>
        <option>En Atención</option>
        <option>Cancelada</option>
        <option>Finalizada</option>
    </select>

    <button class="btn btn-primary">Actualizar</button>
</form>

{% endblock %}
