{% extends "base.html" %}
{% block content %}

<h2>Profesionales</h2>

<a href="/profesionales/crear/" class="btn btn-success mb-3">Nuevo Profesional</a>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Especialidad</th>
            <th>N° Licencia</th>
        </tr>
    </thead>

    <tbody>
        {% for p in profesionales %}
        <tr>
            <td>{{ p.nombre }}</td>
            <td>{{ p.especialidad }}</td>
            <td>{{ p.nro_licencia }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
