{% extends "base.html" %}
{% block content %}

<h1 class="text-center mb-4">Sistema de Gestión Médica (SGAM)</h1>
<div class="row justify-content-center">

    <div class="col-md-3">
        <div class="card shadow-sm mb-3">
            <div class="card-body text-center">
                <h3>Pacientes</h3>
                <p>Administración de pacientes.</p>
                <a href="/pacientes/" class="btn btn-primary">Ingresar</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card shadow-sm mb-3">
            <div class="card-body text-center">
                <h3>Citas</h3>
                <p>Agenda médica completa.</p>
                <a href="/citas/" class="btn btn-primary">Ingresar</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card shadow-sm mb-3">
            <div class="card-body text-center">
                <h3>Profesionales</h3>
                <p>Gestión de profesionales.</p>
                <a href="/profesionales/" class="btn btn-primary">Ingresar</a>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h3>Administración</h3>
                <p>Prestaciones, Boxes y más.</p>
                <a href="/citas/box/" class="btn btn-secondary">Configurar</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
