{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">Crear Box</h2>

<form method="post">
	{% csrf_token %}
	<div class="card shadow-sm p-4">

		<div class="mb-3">
			<label class="form-label">Número</label>
			<input type="number" class="form-control" name="numero">
		</div>
		<div class="form-check mb-3">
			<input type="checkbox" class="form-check-input" name="disponible">
			<label class="form-check-label">Disponible</label>
		</div>
		<button class="btn btn-success">Guardar</button>
		<a href="{% url 'listar_box' %}" class="btn btn-secondary">Cancelar</a>

	</div>
</form>

{% endblock %}
